*
{
	margin: 32px;
}

/* Un peu de commentaire, ça fait pas de mal */
.gros_titre
{
	font-size: 64px;
}


.paragraphe_important
{
	color: blue;
}

.salutations
{
	color: red;
}

/* Attribut Id qui devrait unique (mais ça fonctionne quand même si t'en met plusieurs) */
#logo
{
	border: solid;
}

em
{
	color: blue;
}